*{

    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;

}


.main-header{

    width: 50;
    height:100vh;
    position:absolute;
    background-image: url(/img/OIP.jpg);


}.header-top{
    background-color: rgb(96, 97, 97);
}
.box1{
    height: 200px;
    width: 200px;
    position: absolute;

}
.pusa{
    height: 200px;
    width: 300px;
    position: absolute;
}